.home_main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 2000px;
    width: 100%;
}
.page{
    margin: 0;
    padding: 0;
};
body {
    margin: 0;
    padding: 0;
};
.grid_container{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* .aside{
    display: grid;
    grid-row: initial;
    overflow: hidden;
    margin-top: -250px;
    background-color: white;
}; */