@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


#main{
    background-color: var(--bgColorItem);
    transition: background-color var(--duration);
}

#card{
    background: linear-gradient(rgba(0, 0, 0, 0), #243b55);
    // background: linear-gradient(var(--bgColorMenu), var(--bgColorItem));
}

#text{
    color: black;
    font-family: 'Montserrat', sans-serif;
}