@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.text-style{
    font-family: 'Montserrat', sans-serif;
    color: #243b55;
}

.icon-style{
    color: #243b55;
}

.interactions{
    padding: 5px;
    .text-style{
        color: white;
    }
    .icon-style{
        color: white;
    }
}

.body-post{
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    
}

.post{
    background-color: rgba(0,0,0,0);
    border: #243b55;
    max-width: 70%;

}

.card{
    min-width: 70%;
    // max-width: 70%;
    background: linear-gradient(white, white, #243b55);
    &:hover{
        border:#243b55 solid 1px;
        box-shadow: 2px 5px 20px rgba(#1d1d27, 1);
    } 
}

.post-img{
    background-position: center;
    img{
        max-width: 600px;
        max-height: 600px;
    }

}

.edit-button{
    width: 50px;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    // color: #243b55;
}

// .icon-btn{
//     :hover{
//         cursor: pointer;
//         color: #243b55;
//         transition: 0.5s ease-in-out;
//         // background: red;
//     }
// }

#post-read{
    border: 1px solid black;
    color: white;
    &:hover{
        & .read_icon {
            color: #243b55;
        }
        & .text_style{
            color: #243b55;
        }
        color: #243b55;
        transition: 0.5s ease-in-out;
    }
}

.add-reader{
    cursor: pointer;
}

#post-comments{
    border: 1px solid black;
    :hover{
        cursor: pointer;
        color: #243b55;
        transition: 0.5s ease-in-out;
    }
}

h1 {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 35px;
    border-width: 10px;
    border-style: solid;
    border-color: #243b55;
    border-left: 0;
    border-right: 0;
  }
  
  p {
    width: 100%;
    font-size: 1em;
    padding: 7px 0;
    
  }
  .interactions{
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    // border-color: #243b55;
  }

// REMOVE BUTTON



// #app-cover
// {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     left: 0;
//     width: 196px;
//     height: 196px;
//     margin: -98px auto 0 auto;
//     background-color: #fff;
//     border-radius: 50%;
//     box-shadow: 0 0 0 8px #feeeed;
//     overflow: hidden;
// }

// #checkbox
// {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     opacity: 0;
//     z-index: 3;
// }

// #bin-icon
// {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     left: 0;
//     width: 42px;
//     height: 58px;
//     margin: -29px auto 0 auto;
//     border-radius: 50%;
//     z-index: 2;
// }

// #lid
// {
//     position: relative;
//     width: 50px;
//     height: 4px;
//     left: -4px;
//     border-radius: 4px;
// }

// #lid:before
// {
//     content: '';
//     position: absolute;
//     top: -4px;
//     right: 0;
//     left: 0;
//     width: 10px;
//     height: 6px;
//     margin: 0 auto;
//     border-radius: 10px 10px 0 0;
// }

// #box
// {
//     position: relative;
//     height: 52px;
//     margin-top: 2px;
//     border-radius: 0 0 8px 8px;
// }

// #box-inner
// {
//     position: relative;
//     top: 4px;
//     width: 34px;
//     height: 44px;
//     margin: 0 auto;
//     background-color: #fff;
//     border-radius: 0 0 5px 5px;
// }

// #bin-lines
// {
//     position: relative;
//     top: 7px;
//     margin: 0 auto;
// }

// #bin-lines, #bin-lines:before, #bin-lines:after
// {
//     width: 3px;
//     height: 30px;
//     border-radius: 4px;
// }

// #bin-lines:before, #bin-lines:after
// {
//     content: '';
//     position: absolute;
// }

// #bin-lines:before
// {
//     left: -10px;
// }

// #bin-lines:after
// {
//     left: 10px;
// }

// #layer
// {
//     position: absolute;
//     right: -20px;
//     bottom: -20px;
//     width: 0;
//     height: 0;
//     background-color: #243b55;
//     border-radius: 50%;
//     transition: 0.25s ease all;
//     z-index: 1;
// }

// #lid, #lid:before, #box, #bin-lines, #bin-lines:before, #bin-lines:after
// {
//     background-color: #F44336;
//     transition: 0.2s ease background-color;
// }

// #checkbox:checked ~ #bin-icon #lid, #checkbox:checked ~ #bin-icon #lid:before, #checkbox:checked ~ #bin-icon #box, #checkbox:checked ~ #bin-icon #box-inner
// {
//     background-color: #fff;
// }

// #checkbox:checked ~ #bin-icon #bin-lines, #checkbox:checked ~ #bin-icon #bin-lines:before, #checkbox:checked ~ #bin-icon #bin-lines:after
// {
//     background-color: #03A9F4;
// }

// #checkbox:checked + #bin-icon #box
// {
//     animation: shake 0.2s ease 0.1s;
// }

// #checkbox:checked + #bin-icon #lid
// {
//     animation: lift-up 0.8s ease 0.1s, shake_u 0.8s ease 0.1s, shake_l 0.2s ease 0.8s;
// }

// #checkbox:checked ~ #layer
// {
//     width: 226px;
//     height: 226px;
// }

// @keyframes shake
// {
//     0%{  transform: rotateZ(3deg); }
//     25%{  transform: rotateZ(0);}
//     75%{ transform: rotateZ(-3deg); }
//     100%{ transform: rotateZ(0); }
// }

// @keyframes lift-up
// {
//     0%{ top:0; }
//     50%{ top:-35px;}
//     100%{ top:0; }
// }

// @keyframes shake_u
// {
//     0%{ transform: rotateZ(0); }
//     25%{ transform:rotateZ(-15deg); }
//     50%{ transform:rotateZ(0deg); }
//     75%{ transform:rotateZ(15deg); }
//     100%{ transform:rotateZ(0); }
// }

// @keyframes shake_l
// {
//     0%{ transform:rotateZ(0); }
//     80%{ transform:rotateZ(3deg); }
//     90%{ transform:rotateZ(-3deg); }
//     100%{ transform:rotateZ(0); }
// }