@import "../styles/responsive.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat');
$heading: 'Montserrat', sans-serif;

.main_profile{
  width: 100%;
  min-height: 50vh;

  display: flex;
  justify-content: space-around;
}
.img_mgt{
  display: flex;
  flex-direction: column;
}
.avatar{
  width: 300px;
  min-height: 100px;
  opacity: 70%;
  background-color: #243b55;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_avatar{
  overflow: hidden;
}
.add_btn{
  width: 40px;
  height: 40px;
  transform: translateY(60px) translateX(20px);
  z-index: 3;
}
.name{
  width: 500px;
  height: 300px;
  background-color: yellow;
  opacity: 60%;
  z-index: 1;
  transform: translateX(300px) translateY(200px);  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.firstname {
  font-family: $heading;
  font-size: 40px;
  color: #243b55;
  font-weight: bolder;
  letter-spacing: 5px;
}
.lastname {
  font-family: $heading;
  font-size: 50px;
  padding-left: 20px;
  color: #243b55;
  font-weight: bolder;
  letter-spacing: 5px;
}
.infos{
  width: 600px;
  height: 600px;
  z-index:2;
  background-color: white;    
  transform: translateX(-100px) translatey(100px);   
  display: flex;
  flex-direction: column;
  align-items: center;
}
// p {
// border-style: solid;
// border-image: rgba(0, 0, 0, 0);
// border-image: #243b55;
// width: 100%;
// font-size: 1em;
// color: #243b55;
// }
.modal{
position: fixed;
top:0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
z-index: 5;
display: none;
justify-content: center;
align-items: center;
}
.avatar_link{
display: flex;
align-items: center;
padding: 15px;
position: absolute;
height: 100px;
min-width: 400px;
background-color: white;
border: purple solid 2px;


}
.avatar_link > * {
margin:5px;
}
.avatar_link input {
min-width: 600px;
width: 100%;
}

h1 {
  font-family: $heading;
  color: #243b55;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 10px;
  margin-top: 40px;
  margin-bottom: 35px;
  border-width: 10px;
  border-style: solid;
  border-color: #243b55;
  border-left: 0;
  border-right: 0;
}

p {
  width: 100%;
  font-family: $heading;
  font-size: 1em;
  padding: 7px 0;
  color: #243b55;
}

.btn {
border-radius: 20px;
border: 1px solid #243b55;
background-color: #243b55;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}

.btn:hover {
text-decoration: none;
font-weight: 1000;
}   
input {
background-color: #243b55;
color: white;
border: none;
padding: 12px 15px;
margin: 8px 0;
}
.close-btn{
cursor: pointer;
transform: translateX(15px) translateY(-30px);
}